.thisCanFixErrorContainerForLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 
  background-color: #2C3639;
}
.login-container {

    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    padding: 40px;
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  .login-container h1 {
    font-size: 2.5rem;
    margin-bottom: 30px; 
    color: #333333; 
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555; 
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 14px; 
    font-size: 1.1rem; 
    border: 1px solid #dddddd; 
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  button {
    padding: 12px 24px; 
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-btn-in-Login-Form-99 {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 24px; 
    font-size: 1rem; 
    color: #888888; 
  }
  
  .signup-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 12px; 
    cursor: pointer;
  }
  

  @media (max-width: 850px) {
    .login-container {
      max-width: 80%; 
      margin: 50px auto; 
      padding: 30px; 
    }
  
    .login-container h1 {
      font-size: 2rem; 
      margin-bottom: 20px; 
    }
  
    input[type="email"],
    input[type="password"] {
      padding: 12px; 
      font-size: 1rem; 
    }
  
    .signup-link {
      margin-top: 20px; 
      font-size: 0.9rem; 
    }
  
    .signup-btn {
      background-color: transparent;
      border: none;
      color: #007bff;
      font-size: 1rem; 
      margin-bottom: 12px; 
      cursor: pointer;
    
    }
  }