/* CSS Reset */

/* Container styles */
.ContactUsContainerByOpenSourceify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #2C3639;
}

.ContactUsTitleByOpenSourceify {
  font-size: 2.5rem;
  color: #ffffffd6;
  margin-bottom: 1rem;
  text-align: center;
}

.ContactUsMessageByOpenSourceify {
  font-size: 1.2rem;
  color: #ffffffd6;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 600px;
}


.ContactUsFormByOpenSourceify {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ContactUsFormGroupByOpenSourceify {
  margin-bottom: 1.5rem;
}


.ContactUsLabelByOpenSourceify {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555555;
}


.ContactUsInputByOpenSourceify,
.ContactUsTextareaByOpenSourceify {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.ContactUsInputByOpenSourceify:focus,
.ContactUsTextareaByOpenSourceify:focus {
  border-color: #007bff;
}

.ContactUsButtonByOpenSourceify {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ContactUsButtonByOpenSourceify:hover {
  background-color: #0056b3;
}


@media (max-width: 850px) {
  .ContactUsTitleByOpenSourceify {
    font-size: 2rem; /* Adjusted font size */
  }

  .ContactUsMessageByOpenSourceify {
    font-size: 1rem; /* Adjusted font size */
    margin-bottom: 1.5rem; /* Reduced margin */
  }

  .ContactUsFormByOpenSourceify {
    padding: 1.5rem; /* Reduced padding */
  }

  .ContactUsFormGroupByOpenSourceify {
    margin-bottom: 1rem; /* Reduced margin */
  }

  .ContactUsLabelByOpenSourceify {
    font-size: 0.9rem; /* Reduced font size */
  }

  .ContactUsInputByOpenSourceify,
  .ContactUsTextareaByOpenSourceify {
    padding: 0.5rem; /* Reduced padding */
    font-size: 0.9rem; /* Reduced font size */
  }

  .ContactUsButtonByOpenSourceify {
    padding: 0.75rem; /* Reduced padding */
    font-size: 1rem; /* Adjusted font size */
  }
}
